/** global element styling **/
@import url(https://fonts.googleapis.com/css?family=DynaPuff:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Poppins', sans-serif;
}

#page-wrapper {
  position: relative;
  margin: 0;
}

li {
  list-style: none;
  font-weight: bold;
}

a {
  color: #000;
  text-decoration: none;
}

/** global classes styling **/

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: baseline;
}

.grid {
  display: flex;
  margin-top: 200px;
}

/* header */

header {
  margin: 0;
  height: 100px;
  width: 100%;
  position: fixed;
  min-height: 50px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}

#logo{  
  position: absolute;
  top:28%;
  left:10%;
  z-index: 1;
  display: inline-block;
  align-items: center;
  font-family: 'DynaPuff';
  text-align: center;
}

.logo {
  text-align: center;
  justify-content: center;
  display: grid;
}


.logo > img {
  width: 100%;
  height: 100%;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;  
  border-radius: 50%;
}


#nav-bar{
  position: fixed;
  right:0;
}

nav {
  font-weight: 400;
}


nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


/* hero section */

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  padding: 200px;
}

#hero > h1 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

#hero input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#hero input[type='submit'] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

#hero input[type='submit']:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 650px) {
  #hero {
    margin-top: 120px;
  }
}

/* ABOUT US */

#video{
  width:150%;
  height:420px;
}

h2{
  letter-spacing: 2px;
}

h1 #explore, h1 #logo{
  letter-spacing: -3px;
}

#explore{
  letter-spacing: -3px;
  font-size: 77px;
}


.desc{
  margin-right: 100px;
}

#grid .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
  margin-right: 20px;
}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}


#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#how-it-works > iframe {
  max-width: 560px;
  width: 100%;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#rocher-product{
  width:auto;
  height:200px;
}

#OUR-PRODUCTS{
  display: flex;
  margin-top: 200px;
  margin-bottom: 200px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
}

.product > button:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
